{{ define "main" }}
<main>
  <!--title-->
  <div class="page-titile">
    <h1>{{.Title}}</h1>
  </div>

  <!--archives-->
  {{ if eq .Title "Archives"}}
  <ul>
    {{ range $items := .Site.Taxonomies.archives.Alphabetical.Reverse }}
      <li style="margin-bottom: 3px;"><a href="/archives/{{ .Name | urlize }}">{{ .Name }}</a> <span class="terms-count">({{ .Count }})</span></li>
    {{ end }}
  </ul>
  {{ end }}

  <!--tags-->
  {{ if eq .Title "Tags"}}
  <ul>
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <li style="margin-bottom: 3px;"><a href="/tags/{{ $name | urlize }}">{{ $name }}</a> <span class="terms-count">({{ .Count }})</span></li>
    {{ end }}
  </ul>
  {{ end }}
</main>
{{ end }}