{{ define "main" }}
<main>
  <div class="top-titile">
    <h1>{{ .Site.Title }}</h1>
    {{ with .Params.subtitle }}
      <span class="subtitle">{{ . }}</span>
    {{ end }}
  </div>
  <!-- recent posts -->
  <div>
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range $pag.Pages }}
        <li>
          {{.Date.Format "2006-01-02"}} <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
  </div>

  <!-- older/newer -->
  <div>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      {{ if .Paginator.HasPrev }}
        <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">newer</a>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">older</a>
      {{ end }}
    {{ end }}
  </div>

  <!-- all posts -->
  <div>
    <a href="/post/">posts</a>
  </div>

  <!-- all tags -->
  <div>
    <a href="/tags/">tags</a>
  </div>

</main>
{{ end }}