{{ define "main" }}
<main>
  <div class="top-titile">
    <h1>{{ .Site.Title }}</h1>
    {{ with .Params.subtitle }}
      <span class="subtitle">{{ . }}</span>
    {{ end }}
  </div>
  <!-- recent posts -->
  <div>
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range $pag.Pages }}
        <li>
          {{.Date.Format "2006-01-02"}} <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
  </div>

  <!-- older/newer -->
  <div>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      {{ if .Paginator.HasPrev }}
        <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newer" }}</a>&nbsp;&nbsp;
      {{ end }}
      {{ if .Paginator.HasNext }}
        <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "older" }} &rarr;</a>
      {{ end }}
    {{ end }}
  </div>

  <div><br/></div>
  <!-- all posts -->
  <div>
    <a href="/post/">{{ i18n "posts" }}</a>
  </div>

  <!-- all tags -->
  <div>
    <a href="/tags/">{{ i18n "tags" }}</a>
  </div>

</main>
{{ end }}