{{ define "main" }}
<main>


  <!-- posts -->
  <div>
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range $pag.Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{ end }}
    </ul>
  </div>

  <!-- older/newer -->
  <div>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      {{ if .Paginator.HasPrev }}
        <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">newer</a>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">older</a>
      {{ end }}
    {{ end }}
  </div>

    <!-- posts -->
    <div>
    <a href="/post/">posts</a>
  </div>
</main>
{{ end }}